.main {
    padding: 0;
    margin: auto;
    width: 1200px;
    height: 1500px;

}

.head {
    height: 12%;
    width: 100%;
    text-align: center;
    background-color: bisque;
}

.head-link {
    height: 5%;
    width: 100%;
}

.left {
    height: 70%;
    width: 20%;

    float: left;
}

.right {
    height: 70%;
    width: 80%;
    float: left;

}

.footer {
    height: 15%;
    width: 100%;
    float: left;
}

h1 {
    font-family: Algerian;
    color: burlywood;
    text-shadow: 0px 2px 3px green;
}

h3 {
    font-size: 20px;
    color: burlywood;
    text-shadow: 0px 2px 3px green;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
.right {
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;

    display: flex;
}
ul#menu-v, #menu-v ul
{
    width:200px;
    border:1px solid rgba(190,190,190,0.3);
    list-style:none; margin:0; padding:0;
    z-index:9;
}

#menu-v li
{
    margin:0;padding:0;
    position:relative;
    background-color:#DDDDDD;
    background-color:rgba(0,0,0,0.5);
    transition:background 0.5s;
}
#menu-v li:hover
{
    background-color:rgba(0,0,0,0.9);
}

#menu-v a
{
    font:normal 12px Arial;
    border-top:1px solid rgba(190,190,190,0.3);
    display:block;
    color:#EEEEEE;
    text-decoration:none;
    line-height:30px;
    padding-left:22px;
    position:relative;
}

#menu-v li:first-child a
{
    border-top:0;
}

#menu-v a.arrow::after{
    content:'';
    position:absolute;
    display:inline;
    top:50%;
    margin-top:-4px;
    right:8px;
    border-width:4px;
    border-style:solid;
    border-color:transparent transparent transparent white;
    transition:border-color 0.5s;
}

{
    border-color:transparent transparent transparent #CCCCCC;
}

#menu-v li ul
{
    min-width:180px;
    position:absolute;
    display:none;
    left:100%;
    top:50%; transform:translateY(-50%);
}

#menu-v li:hover > ul
{
    display:block;
}